body{
    background-color: rgb(200, 187, 171);
    font-family: 'Karla', sans-serif;
}
.container {
    background-color: rgb(34, 28, 28);
    box-sizing: border-box;
    border: solid white  4px;
    margin: 20px;
    padding: 60px 40px;
    width: 550px;
    height: 550px;
    border-radius: 20px;
}
button{
    background-color: rgb(8, 173, 118);
    color: white;
    padding: 10px;
    border-radius: 8px;    
    border: none;
    cursor: pointer;
}
h1{
    color:#ffffff;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
}
.bold-text{
    display:block;
    color: #4ADF86;
}
h2{
    color: rgb(248, 253, 254);
}
h2, button{
    font-family: 'Inter', sans-serif;
}
#password-btn{
    display: flex;
    margin-top: 30px;
    column-gap: 24px;
    font-size: 16px;
    border-top: 1px solid #2F3E53;
}

#password-one, #password-two{
    margin-top: 35px;
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    color: #4ADF86;
    font-size: 16px;
    border: none;
}